
// primary colors

$color-primary-one: #ffedd5;
$color-primary-two: #e2ac90;
$color-primary-three: #243246;
$color-primary-four: #ccefde;
$color-primary-five: #fafafb;

// secondary colors

$color-secondary-one: #323236;
$color-secondary-two: #aa6d66;
$color-secondary-three: #243246;
$color-secondary-four: #ccefde;
$color-secondary-five: #feedd5;
$color-secondary-six: #fafafb;

// tertiary colors

$color-tertiary-one: #ed9c8e;
$color-tertiary-two: #70cac5;
$color-tertiary-three: #3b8e9e;